@import (reference) "../less/styled-components.include.less";

.holiday-results {
  display: flex;

  aside {
    flex: 0 0 40%;
    margin-right: 40px;
    @media (min-width: @screen-sm-min) {
      flex: 0 0 25%;
    }
  }
}

.holiday-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-right: -9px;
  margin-left: -9px;
}